<<!DOCTYPE html>
<html>

  <head>
    <title>Application Submitted</title>
    {%include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">
        <h1 class="text-center mt-2 mb-4">
          {{company_name}} Careers
        </h1>
        <p>Your Application has been submitted</p>
        <h4>Full Name</h4>
        <div>{{application['full_name']}}</div>

        <h4>Email</h4>
        <div>{{application['email']}}</div>

        <h4>education</h4>
        <div>{{application['education']}}</div>

        <h4>LinkedIn</h4>
        <div>{{application['linkedin_url']}}</div>

        <h4>work_Experience</h4>
        <div>{{application['work_experience']}}</div>

        <h4>Resume Url</h4>
        <div>{{application['resume_url']}}</div>
    </div>
    {% include 'footer.html' %}

  </body>
  </html>
